*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}



body {
    margin: 0;
    padding: 0;
    text-align: center;
    /* font-family: 'Permanent Marker', cursive; */
    background: linear-gradient(white, gray);
    height: 100vh;
    color: #e98a1d;

}

h1 {
    text-shadow: 0px 3px 0px black;
    line-height: 3.7rem;
    transform: rotate(-9deg);
    margin-top: 2rem;
    font-size: 5rem;
}

#stage {
    width: 100%;
    height: 60px;
    padding: 30px 0;
    font-size: 10rem;
    margin-top: 10rem;
}

button {
    margin: 20rem;
    cursor: pointer;
    border: 0;
    padding: 18px 26px;
    border-radius: 10px;
    background: #e98a1d;
    color: white;
    font-family: inherit;
    font-size: 2rem;
}

button:active{
    transform: scale(0.9);
}